# Filter, Drop Nulls, Dedupe
Use `data_08.csv` and `data_18.csv`

1. Filter  
For consistency, only compare cars certified by California standards. Filter both datasets using query to select only rows where cert_region is CA. Then, drop the cert_region columns, since it will no longer provide any useful information (we'll know every value is 'CA').

2. Drop Nulls    
Drop any rows in both datasets that contain missing values.

3. Dedupe      
Drop any duplicate rows in both datasets.

In [1]:
# load datasets
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [2]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [3]:
# view dimensions of dataset
df_18.shape

(1611, 14)

## Filter by Certification Region

In [4]:
# filter datasets for rows following California standards
df_08 = df_08.loc[df_08['cert_region']=='CA']
df_18 = df_18.loc[df_18['cert_region']=='CA']

In [5]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [6]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [7]:
# drop certification region columns form both datasets
df_08.drop(['cert_region'], axis=1, inplace=True)
df_18.drop(['cert_region'], axis=1, inplace=True)

In [8]:
df_08.shape

(1084, 13)

In [9]:
df_18.shape

(798, 13)

## Drop Rows with Missing Values

In [10]:
# view missing value count for each feature in 2008
df_08.isnull().sum(axis=0)

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [11]:
# view missing value count for each feature in 2018
df_18.isnull().sum(axis=0)

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [12]:
# drop rows with any null values in both datasets

df_08.dropna(how='any', inplace= True) #to drop if any value in the row has a nan
df_18.dropna(how='any',inplace= True)

In [13]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [14]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

## Dedupe Data

In [15]:
# print number of duplicates in 2008 and 2018 datasets
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

23
3

In [16]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [17]:
# print number of duplicates again to confirm dedupe - should both be 0
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

0
0

In [18]:
# save progress for the next section
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)